<div class="mw6 center pa3 pa5-ns sans-serif tc bg-white">
    <!--<dl class="f4 lh-title mv2">
        <dt class="dib b black">(310) 310-3100</dt>
    </dl>
    <dl class="f4 lh-title mv2">
        <dt class="dib b black">youknowwhat@gmail.com</dt>
    </dl>-->
    <dl class="f4 lh-title mv2">
        <dt class="dib b black">
            <a class="link no-under" href="https://twitter.com/oscarsinger">
                <span class="fa fa-twitter fa-2x" aria-hidden="true"></span>
            </a>
        </dt>
    </dl>
</div>