<section class="cf w-100 pa2-ns sans-serif">
    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
        <div class="aspect-ratio aspect-ratio--4x3">
            <img style="background-image:url(public/images/fronthouse.jpg)" class="db bg-center contain aspect-ratio--object" />
        </div>
        <a class="ph2 ph0-ns pb3 link db">
            <h3 class="f5 f4-ns mb0 black-90">Front of House</h3>
            <h3 class="f6 f5 fw4 mt2 black-60">Culver City, CA</h3>
        </a>
    </article>
    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
        <div class="aspect-ratio aspect-ratio--4x3">
            <img style="background-image:url(public/images/livingroom2.jpg)" class="db bg-center contain aspect-ratio--object" />
        </div>
       <a class="ph2 ph0-ns pb3 link db">
            <h3 class="f5 f4-ns mb0 black-90">Front Door</h3>
            <h3 class="f6 f5 fw4 mt2 black-60">Culver City, CA</h3>
        </a>
    </article>
    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
        <div class="aspect-ratio aspect-ratio--4x3">
            <img style="background-image:url(public/images/livingroomall.jpg)" class="db bg-center contain aspect-ratio--object" />
        </div>
        <a class="ph2 ph0-ns pb3 link db">
            <h3 class="f5 f4-ns mb0 black-90">Living Room</h3>
            <h3 class="f6 f5 fw4 mt2 black-60">Culver City, CA</h3>
        </a>
    </article>
    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
        <div class="aspect-ratio aspect-ratio--4x3">
            <img style="background-image:url(public/images/bathroom.jpg)" class="db bg-center cover aspect-ratio--object" />
        </div>
        <a class="ph2 ph0-ns pb3 link db">
            <h3 class="f5 f4-ns mb0 black-90">Master Bathroom</h3>
            <h3 class="f6 f5 fw4 mt2 black-60">Culver City, CA</h3>
        </a>
    </article>
    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
        <div class="aspect-ratio aspect-ratio--4x3">
            <img style="background-image:url(public/images/bathroom-paint.jpg)" class="db bg-center contain aspect-ratio--object" />
        </div>
        <a class="ph2 ph0-ns pb3 link db">
            <h3 class="f5 f4-ns mb0 black-90">Bathroom</h3>
            <h3 class="f6 f5 fw4 mt2 black-60">Culver City, CA</h3>
        </a>
    </article>
    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
        <div class="aspect-ratio aspect-ratio--4x3">
            <img style="background-image:url(public/images/backroom.jpg)" class="db bg-center contain aspect-ratio--object" />
        </div>
        <a class="ph2 ph0-ns pb3 link db">
            <h3 class="f5 f4-ns mb0 black-90">Inside Accessory Unit</h3>
            <h3 class="f6 f5 fw4 mt2 black-60">Culver City, CA</h3>
        </a>
    </article>
    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
        <div class="aspect-ratio aspect-ratio--4x3">
            <img style="background-image:url(public/images/back-yard.jpg)" class="db bg-center contain aspect-ratio--object" />
        </div>
        <a class="ph2 ph0-ns pb3 link db">
            <h3 class="f5 f4-ns mb0 black-90">Accessory Unit / Garage</h3>
            <h3 class="f6 f5 fw4 mt2 black-60">Culver City, CA</h3>
        </a>
    </article>
    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
        <div class="aspect-ratio aspect-ratio--4x3">
            <img style="background-image:url(public/images/homeperipheral.jpg)" class="db bg-center cover aspect-ratio--object" />
        </div>
        <a class="ph2 ph0-ns pb3 link db">
            <h3 class="f5 f4-ns mb0 black-90">Side View</h3>
            <h3 class="f6 f5 fw4 mt2 black-60">Culver City, CA</h3>
        </a>
    </article>
</section>